---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <nav class="chapter-nav" style="display: flex; justify-content: space-between; margin-top: 2em;">
    <div>
      {% if page.prev_chapter_url %}
        <a href="{{ page.prev_chapter_url | relative_url }}">&laquo; {{ page.prev_chapter_title }}</a>
      {% endif %}
    </div>
    <div>
      {% if page.next_chapter_url %}
        <a href="{{ page.next_chapter_url | relative_url }}">{{ page.next_chapter_title }} &raquo;</a>
      {% endif %}
    </div>
  </nav>

</article>
